body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  margin: 0 auto;
}

section {
  background-color: lightsalmon;
}

h3 {
  font-family: 'Josefin Slab';
  font-weight: 700;
  font-size: 1.5em;
  padding-top: 2em;
  color: white;
  text-shadow: 1px 2px chocolate;
}

/* Header Section */

.shopping-intro {
  background-image: url('../images/shopping.jpg');
  background-repeat: no-repeat;
  height: 350px;
  border-top: solid 1em paleturquoise;
  border-bottom: solid 1em paleturquoise;
}

.intro-opacity {
  background-color: white;
  height: 6em;
  opacity: .35;
  margin-top: 8em;
  margin-bottom: -8.5em;
}

.intro-1 {
  font-family: 'Amatic SC';
  margin-bottom: -0.25em;
  padding-top: -8em;
  color: white;
  text-shadow: 2px 3px lightsteelblue;
  font-size: 4em;
}

/* Search Section */

.search {
  padding-bottom: 2em;
}

/* Shopping List Section */

.table-items {
  padding-bottom: 2em;
  background-color: peachpuff;
}

.table-items > table {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rock Salt';
  font-size: .75em;
}

.table-items p {
  font-size: .6em;
  font-family: 'Rock Salt';
}
/* Add Item Section */

.add-items {
  padding-bottom: 2em;
}

/* Footer Section */

.shopping-end {
  margin-top: 1em;
  background-color: paleturquoise;
  height: 50px;
}

.credit {
  font-family: 'Josefin Slab';
  color: white;
  text-shadow: 1px 2px lightseagreen;
  font-size: 1em;
  padding-top: 1em;
}

